/* 
Author: Zachary Kornbluth <github.com/zkornbluth>
*/

h1 {
    text-align: center;
}

h2 {
  font-size: 22px;
}

.player-name-cell {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.injured-icon {
  width: 16px;
  height: 16px;
}

.dollar-icon {
  width: 30px;
  height: 30px;
}

.column-header-player {
  text-align: left;
  width: 25%;
}

.column-header-deadcap {
  text-align: left;
}

.active-player-cell {
  text-align: center;
}

table {
  width: 90%;
  margin-left: 5%;
  border-collapse: collapse;
}

.salary-cell {
  width: 10%;
}

tr.player-row { 
  border: solid #bbbbbb;
  border-width: 1px 0;
}

tr.position-group-header td {
  padding: 20px 0 5px 0;
  font-size: 20px;
}

.position-group-header {
  width: 90%;
  margin-left: 5%;
  text-align: left;
}

.cap-headers {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 10px;
}

.header-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid #bbbbbb;
  border-radius: 10px;
  padding: 25px;
  font-size: 20px;
  width: 200px;
}

.header-card-text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

th {
  background-color: #ffffff;
}

.team-selector {
  margin: 20px 0;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-dropdown {
  margin-left: 10px;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}